@use "styles/partials/global" as *;

// Page-layer wiring for the top page.
// Components are rendered as direct children of .base-layout.
.base-layout {
  > .hero-section {
    // @pages/home/HeroSection/HeroSection.scss
    margin-top: 0;
  }

  > .card-list {
    // @parts/CardList/CardList.scss
    margin-top: 3.75rem;

    @include breakpoint-up(md) {
      margin-top: 5rem;
    }
  }
}
