@use "styles/partials/global" as *;

// @rel/../HeroSection.scss
.cta-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 2rem;
  font-weight: 700;
  color: #0f172a;
  text-decoration: none;
  background-color: #fff;
  border-radius: 999px;

  // --shared ----------------------------------------

  // --interaction -----------------------------------
  @at-root & {
    transition: transform 0.2s $ease, box-shadow 0.2s $ease;

    &:hover {
      box-shadow: 0 6px 18px rgb(0 0 0 / 20%);
      transform: translateY(-2px);
    }
  }
}
