@use "styles/partials/global" as *;

// @rel/../SiteFooter.scss
.footer-brand {
  > .title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  > .copy {
    margin-top: 0.5rem;
    line-height: 1.6;
    color: rgb(226 232 240 / 70%);
  }
}
